* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//transitions
$transition: 500ms;

//Colors
$white: #fff;
$header: #262626;
$hover: #888888;
$light-bg: #8c8c8c;

//Text Variables

$font-primary: "Oswald", sans-serif;

//Text Settings

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $font-primary;
}
.App {
  background-color: $white;
  min-height: 100vh;
  width: 100%;
}
